<a href="https://colab.research.google.com/github/ofgkts/Portfolio-Projects/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [17]:
import pandas as pd

In [18]:
df=pd.read_excel("/content/drive/MyDrive/proje/Omer Code/projects/Enterprises_Turkey/data.xlsx")

In [19]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"NACE Rev. 2, Kısım\nNACE Rev. 2, Section","Bölüm,grup ve sınıf \nDivision,group and class",2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,Türkiye\nTurkey,Genel toplam\nGeneral total,2631085,2678787,2737278,2800060,2847725,2888180,2941233,2981381,3100412,3160371,3228421,3304088,3578931,3784464
4,B - Madencilik ve taşocakçılığı \nMining and q...,Toplam-Total,3963,4128,4336,4523,4732,4856,4645,4793,4911,5079,5079,5007,5127,5254

- damn that's a bit dirty data but i think this is it this will be good

Cleaning cleaning aaannd more cleaning time

In [20]:
#drop the first two row it is unnecessary
df=df.iloc[2:]
#if i need it i will sum while visualizing so drop general total
df = df.drop(3)

In [21]:
df.columns=df.iloc[0]
df=df[1:]
df.head(45)

2,"NACE Rev. 2, Kısım\nNACE Rev. 2, Section","Bölüm,grup ve sınıf \nDivision,group and class",2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
4,B - Madencilik ve taşocakçılığı \nMining and q...,Toplam-Total,3963,4128,4336,4523,4732,4856,4645,4793,4911,5079,5079,5007,5127,5254
5,NaN,05,427,421,401,405,419,402,345,326,298,251,250,259,225,236
6,NaN,051,122,112,96,104,104,105,98,98,85,68,76,87,74,86
7,NaN,0510,122,112,96,104,104,105,98,98,85,68,76,87,74,86
8,NaN,052,305,309,305,301,315,297,247,228,213,183,174,172,151,150
9,NaN,0520,305,309,305,301,315,297,247,228,213,183,174,172,151,150
10,NaN,06,17,17,20,21,22,19,19,22,21,20,20,19,17,19
11,NaN,061,11,11,12,14,13,12,12,15,15,14,15,12,11,13
12,NaN,0610,11,11,12,14,13,12,12,15,15,14,15,12,11,13
13,NaN,062,6,6,8,7,9,7,7,7,6,6,5,7,6,6
14,NaN,0620,6,6,8,7,9,7,7,7,6,6,5,7,6,6
15,NaN,07,357,423,476,551,588,597,553,600,614,675,722,718,740,733
16,NaN,071,37,41,44,65,68,56,55,77,84,75,80,75,78,84
17,NaN,0710,37,41,44,65,68,56,55,77,84,75,80,75,78,84
18,NaN,072,320,382,432,486,520,541,498,523,530,600,642,643,662,649
19,NaN,0729,320,382,432,486,520,541,498,523,530,600,642,643,662,649
20,NaN,08,3088,3153,3282,3403,3529,3645,3555,3611,3697,3826,3758,3676,3774,3851
21,NaN,081,2323,2435,2509,2539,2639,2747,2653,2646,2706,2814,2767,2699,2784,2793
22,NaN,0811,1152,1198,1250,1247,1329,1396,1316,1295,1336,1427,1440,1408,1458,1498
23,NaN,0812,1171,1237,1259,1292,1310,1351,1337,1351,1370,1387,1327,1291,1326,1295
24,NaN,089,765,718,773,864,890,898,902,965,991,1012,991,977,990,1058
25,NaN,0891,93,100,99,102,106,107,103,113,116,113,110,108,111,106
26,NaN,0892,6,9,9,10,12,13,11,13,12,7,6,6,3,3
27,NaN,0893,31,25,24,26,28,28,25,30,35,33,33,36,32,32
28,NaN,0899,635,584,641,726,744,750,763,809,828,859,842,827,844,917
29,NaN,09,74,114,157,143,174,193,173,234,281,307,329,335,371,415
30,NaN,091,46,47,59,55,60,69,54,65,74,79,81,83,90,100
31,NaN,0910,46,47,59,55,60,69,54,65,74,79,81,83,90,100
32,NaN,099,28,67,98,88,114,124,119,169,207,228,248,252,281,315
33,NaN,0990,28,67,98,88,114,124,119,169,207,228,248,252,281,315
34,C - İmalat\nManufacture,Toplam-Total,321482,326925,335571,354256,365723,371911,375480,379894,391024,396118,403018,409482,444030,464797
35,NaN,10,31829,33727,35022,39580,41907,44977,43733,45567,47617,49025,51338,52871,57562,59102
36,NaN,101,630,720,801,823,952,1107,1203,1268,1259,1282,1357,1423,1504,1592
37,NaN,1011,293,299,324,327,349,325,360,378,383,408,429,453,486,534
38,NaN,1012,67,76,76,83,83,83,79,87,89,87,89,88,107,115
39,NaN,1013,270,345,401,413,520,699,764,803,787,787,839,882,911,943
40,NaN,102,112,133,142,155,169,181,190,225,245,254,283,305,325,350
41,NaN,1020,112,133,142,155,169,181,190,225,245,254,283,305,325,350
42,NaN,103,1656,1750,1812,1929,2168,2263,2345,2456,2547,2615,2791,3066,3553,3824
43,NaN,1031,33,38,45,39,40,39,33,63,73,69,70,74,88,103
44,NaN,1032,175,177,170,174,192,193,198,219,228,232,246,257,296,314
45,NaN,1039,1448,1535,1597,1716,1936,2031,2114,2174,2246,2314,2475,2735,3169,3407
46,NaN,104,1153,1138,1151,1150,1185,1161,1192,1243,1305,1353,1404,1451,1601,1710
47,NaN,1041,1146,1132,1144,1143,1177,1152,1185,1236,1298,1344,1395,1441,1591,1698
48,NaN,1042,7,6,7,7,8,9,7,7,7,9,9,10,10,12

In [22]:
#i need to fill empty following rows with the not null one and it is simple solution just ffil method
df['NACE Rev. 2, Kısım\nNACE Rev. 2, Section']=df['NACE Rev. 2, Kısım\nNACE Rev. 2, Section'].fillna(method='ffill')
#drop the grand total one i could calculate if i need but at this point its just unnecessary
df_cleaned = df[df['Bölüm,grup ve sınıf \nDivision,group and class'] != 'Toplam-Total']
df_cleaned.head(45)

In [28]:
df_cleaned['Bölüm,grup ve sınıf \nDivision,group and class'].value_counts()

05      1
5221    1
4939    1
494     1
4941    1
       ..
2752    1
279     1
2790    1
28      1
        1
Name: Bölüm,grup ve sınıf \nDivision,group and class, Length: 844, dtype: int64